<div class="container-fluid">
  <div class="row">
    <div class="Main col-sm-12">
      <div class="row">
        <div class="col-sm-12 logo align-self-baseline">
          <h2 class="text-center">TTD</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 switc">
          <div class="switch">
            <input type="radio" class="switch-input" name="view" value="week" id="week" checked>
            <label for="week" class="switch-label switch-label-off">Monthly</label>
            <input type="radio" class="switch-input" name="view" value="month" id="month">
            <label for="month" class="switch-label switch-label-on">Daily</label>
            <span class="switch-selection"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="d-flex col-sm-12 justify-content-center">
          <div class="calendar CalendarBody">
            <div class="MonthName">June</div>

            <span>Su</span>
            <span>Mo</span>
            <span>Tu</span>
            <span>We</span>
            <span>Th</span>
            <span>Fr</span>
            <span>Sa</span>
            <hr>
            <span class="ZeroData"><!--BLANK--></span>
            <span class="ZeroData"><!--BLANK--></span>
            <span class="ZeroData"><!--BLANK--></span>
            <span class="ZeroData"><!--BLANK--></span>
            <span class="ZeroData"><!--BLANK--></span>
            <span class="ZeroData"><!--BLANK--></span>
            <span>1</span>
            <span class="circle" data-title="My 25th birthday!">2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
            <span>6</span>
            <span>7</span>
            <span>8</span>
            <span>9</span>
            <span>10</span>
            <span>11</span>
            <span class="circle" data-title="2 month anniversary!">12</span>
            <span>13</span>
            <span>14</span>
            <span>15</span>
            <span>16</span>
            <span>17</span>
            <span>18</span>
            <span>19</span>
            <span>20</span>
            <span>21</span>
            <span class="circle" data-title="#MusicMonday - share your favorite song!">22</span>
            <span>23</span>
            <span>24</span>
            <span>25</span>
            <span>26</span>
            <span>27</span>
            <span>28</span>
            <span>29</span>
            <span>30</span>
            <span class="ZeroData"><!--BLANK--></span>
            <span class="ZeroData"><!--BLANK--></span>
            <span class="ZeroData"><!--BLANK--></span>
            <span class="ZeroData"><!--BLANK--></span>
            <span class="ZeroData"><!--BLANK--></span>
            <span class="ZeroData"><!--BLANK--></span>
          </div>
        </div>
      </div>
      <div class="row d-flex">
        <div class="col-sm-12">
          <h2>This month</h2>
        </div>
        <div class="col-sm-12">
          <div class="MyList">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let item of toDoListArray">
                  <span class="hover-cursor" [class.text-success]="item.isChecked"
                        (click)="alterCheck(item.$key, item.isChecked)">
                      <i class="fa fa-1g" [ngClass]="item.isChecked?'fa-check-circle-o':'fa-circle-thin'"></i>
                  </span>
                {{item.title}}
                <span class="hover-cursor text-danger pull-right" (click)="onDelete(item.$key)">
                      <i class="fa fa-trash-o fa-1g"></i>
                  </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row footerContainer">
        <div class="col-sm-12 ">
          <div class="addButton d-flex justify-content-center"> <i class="align-self-center fa fa-plus"></i></div>

          <!--<div class="btn addButton ">-->

          <!--</div>-->
          <div class="display d-flex">
            <div class="DisplOption d-flex justify-content-center">
              <i class="align-self-center fa fa-list"></i>
            </div>
            <div class="DisplHistory d-flex justify-content-center">
              <i class="align-self-center fa fa-clock-o"></i>
            </div>
            <div class="DisplBell d-flex justify-content-center">
              <i class="align-self-center fa fa-bell"></i>
            </div>
            <div class="DisplUser d-flex justify-content-center">
              <i class="align-self-center fa fa-user"></i>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
