@mixin font-template($font_family, $font_style, $font_weight, $line-height, $font-size, $font_color){
  font-family: $font_family;
  font-style: $font_style;
  font-weight: $font_weight;
  line-height: $line-height;
  font-size: $font-size;
  color: $font_color;
}
$height-webkit:-webkit-fill-available;
.main-body {
  position: relative;
  height: $height-webkit;
  background: #ffffff;
}
.skip {
  width: 100%;
  height: 38px;
  position: absolute;
  top: 0;
  left: 0;
  a {
    position: absolute;
    top:25px;
    right: 12.53%;
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 11px;
    letter-spacing: 1px;

    color: #373737;
  }
}
.greeting {
  position: absolute;
  width: 100%;
  height: 17px;
  top: 27.6%;
  @include font-template(Raleway, normal, normal, normal, 14px, #050505);
  text-align: justify;

}

.logo {
  position: absolute;
  top: 34.3%;
  left: 0;
  width: 100%;
  height: 32px;
}

.slider {
  position: absolute;
  width: 100%;
  height: 46px;
  bottom: 42.8%;
}

.slider-size {
  height: 133px;
}

.carousel {
  width: 100%;
  position: relative;
}

.carousel-item {
  margin-top: -36px;
}

.carousel-caption {
  position: absolute;
  right: 0;
  left: 0;
}

.carousel-indicators {
  position: absolute;
  top: 62px;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
  li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid rgba(131, 136, 151, 0.590438);
  }
}
.carousel-indicators .active {
  background-color: #5A95FF;
}

.carousel-text {
  width: 285px;
  height: 46px;
  @include font-template(Raleway, normal, normal, 23px, 14px, #050505);
  text-align: center;
}

.login-medias {
  width: 100%;
  height: 115px;
  position: absolute;
  left: 0;
  bottom: 4.5%;
}

.fasebook, .twitter{
  position: absolute;
  width: 280px;
  height: 50px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(59, 87, 152, 0.115149);
  border-radius: 3px;
}
.fasebook{
  top: 0;
  background: #3B5798;
}
.fasebook-ico {
  width: 50px;
  height: 50px;
  background: #283B68;
  border-radius: 3px;
  color: white;
  font-size: 17px;
}

.twitter {
  top: 65px;
  background: #59DCFF;
}

.twitter-ico {
  width: 50px;
  height: 50px;
  background: #51B2E0;
  border-radius: 3px;
  color: white;
  font-size: 17px;
}

.label-container {
  padding: 18px 23px;
  @include font-template(Raleway, normal, bold, normal, 11px, #ffffff);
  text-transform: uppercase;
}
