<div class="container-fluid">
  <div class="row">
    <div class="Main col-sm-12">
      <div class="top row">
        <div class="col-sm-12 skip align-self-center">
          <a routerLink="/main"><p class="text-right">Skip</p></a>
        </div>
        <div class="col-sm-12 greeting align-self-end">
          <p class="text-center">Hi there! Welcome to</p>
        </div>
        <div class="col-sm-12 logo align-self-baseline">
          <h1 class="text-center">TTD</h1>
        </div>
      </div>
      <div class="row slaider">
        <div id="carouselExampleIndicators" class="col-sm-12 align-self-center carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="SliderSize">
                <div class="carousel-caption d-md-block">
                  <p class="CarouserText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores,
                    possimus.</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="SliderSize">

                <div class="carousel-caption d-md-block">
                  <p class="CarouserText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores,
                    possimus.</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="SliderSize">
                <div class="carousel-caption d-md-block">
                  <p class="CarouserText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores,
                    possimus.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row SignInMedia">
        <div class="col-sm-12 align-content-center">
          <div class="d-flex fasebook">
            <div class="FbIconCont d-flex justify-content-center">
              <i class="align-self-center fa fa-facebook-f"></i></div>
            <div class="LabelCont d-flex justify-content-center"><p class="align-self-center">fasebook</p></div>
          </div>
        </div>
        <div class="col-sm-12 align-content-center" style="margin-top: 15px;">
          <div class="d-flex twitter">
            <div class="TwIconCont d-flex justify-content-center"><i class="align-self-center fa fa-twitter"></i></div>
            <div class="LabelCont d-flex justify-content-center"><p class="align-self-center">twitter</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
