@font-face {
  font-family: Raleway;
  src: url(//fonts.googleapis.com/css?family=Raleway);
}

.main-body {
  position: relative;
  height: 667px;
  background: #ffffff;
}
/*======================================================================*/
/*.main-body {*/
  /*position: relative;*/
  /*height: 540px;*/
  /*background: #ffffff;*/
  /*overflow: hidden;*/
/*}*/
/*.skip {*/
  /*height: 13px;*/
  /*position: absolute;*/
  /*top: calc(50% - 13px / 2 - 300px);*/
  /*left: 80.27%;*/
  /*right: 12.53%;*/
/*}*/
/*======================================================================*/
.skip {
  display: flex;
  height: 13px;
  position: absolute;
  top: calc(50% - 13px/2 - 300px);
  left: 80.27%;
  right: 12.53%;
}
.skip a {
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 11px;
  letter-spacing: 1px;

  color: #373737;
}

.greeting {
  position: absolute;
  width: 100%;
  height: 17px;
  top: calc(50% - 17px / 2 - 157px);

  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  text-align: justify;

  color: #050505;
}

.logo {
  position: absolute;
  top: calc(50% - 309px/2 + 27px);
  width: 100%;
}

.slider {
  position: absolute;
  width: 100%;
  height: 46px;
  top: calc(50% - 46px / 2 + 27px);
}

.slider-size {
  height: 133px;
}

.carousel {
  width: 100%;
  position: relative;
}

.carousel-item {
  margin-top: -36px;
}

.carousel-caption {
  position: absolute;
  right: 0;
  left: 0;
}

.carousel-indicators {
  position: absolute;
  top: 62px;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators > li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid rgba(131, 136, 151, 0.590438);
}

.carousel-indicators .active {
  background-color: #5A95FF;
}

.carousel-text {
  width: 285px;
  height: 46px;

  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: normal;
  line-height: 23px;
  font-size: 14px;
  text-align: center;

  color: #050505;
}

.login-medias {
  width: 100%;
  height: 115px;
  position: absolute;
  top: 78.71%;
  bottom: 4.05%;
}

.fasebook {
  position: absolute;
  top: 0;
  width: 280px;
  height: 50px;
  background: #3B5798;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(59, 87, 152, 0.115149);
  border-radius: 3px;
}
.fasebook-ico {
  width: 50px;
  height: 50px;
  background: #283B68;
  border-radius: 3px;
  color: white;
  font-size: 17px;
}

.twitter {
  position: absolute;
  top: 65px;
  width: 280px;
  height: 50px;
  background: #59DCFF;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(80, 199, 227, 0.130293);
  border-radius: 3px;
}

.twitter-ico {
  width: 50px;
  height: 50px;
  background: #51B2E0;
  border-radius: 3px;
  color: white;
  font-size: 17px;
}

.label-container {
  padding: 18px 23px;

  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}
