.top{
  height: 300px;
}
.skip p{
  position: absolute;
  left: 80.27%;
  right: 12.53%;

  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 1px;
  color: black;
}
.greeting p{
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  text-align: justify;

  color: #050505;
}
.logo h1{
  font-weight: 900;
  color: #050505;
}
.SliderSize{
  height: 133px;
}
.carousel-indicators > li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid rgba(131, 136, 151, 0.590438);
}
.carousel-indicators .active {
  background-color: #5A95FF;
}
.CarouserText{
  font-style: normal;
  font-weight: normal;
  line-height: 23px;
  font-size: 14px;
  text-align: center;
  color: #050505;
}
.fasebook{
  margin: auto;
  width: 280px;
  height: 50px;
  background: #3B5798;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(59, 87, 152, 0.115149);
  border-radius: 3px;
}
.twitter{
  margin: auto;
  width: 280px;
  height: 50px;
  background: #59DCFF;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(80, 199, 227, 0.130293);
  border-radius: 3px;
}
.SignInMedia{
  margin-top: 90px;
}
.FbIconCont{
  width: 50px;
  height: 50px;
  background: #283B68;
  border-radius: 3px;
  color: white;
  font-size: 17px;
}
.TwIconCont{
  width: 50px;
  height: 50px;
  background: #51B2E0;
  border-radius: 3px;
  color: white;
  font-size: 17px;
}
.LabelCont{
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 11px;
  letter-spacing: 1px;

  color: #FFFFFF;
  text-transform:uppercase;
}
.LabelCont p{
  padding-left: 20px;
  height: 0;
}
