.Main{
  position: relative;
  width: 375px;
  height: 667px;
  background: #ffffff;
}
.top{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 54%;
  background: url(../assets/backgroundScale.svg) no-repeat;
}
.skip{
  position: absolute;
  height: 13px;
  left: 80.27%;
  right: 12.53%;
  top: calc(50% - 13px/2 - 300px);

  /*font-family: Raleway;*/
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 11px;
  letter-spacing: 1px;
  background-color: black;
  width: 27px;
  color: #373737;
}
.logo{
  position: absolute;
  left: 36.53%;
  right: 36.27%;
  top: 31.18%;
  bottom: 64.02%;
  background-color: black;
  width: 102px;
  height: 32px;
}
.hello{
  position: absolute;
  height: 17px;
  left: 31.73%;
  right: 31.73%;
  top: calc(50% - 17px/2 - 157px);

  /*font-family: Raleway;*/
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  text-align: justify;

  color: #050505;

  background-color: black;
  width: 137px;
}
.slider_Text{
  position: absolute;
  height: 46px;
  left: 12.53%;
  right: 11.47%;
  top: calc(50% - 46px/2 + 26.6px);

  /*font-family: Raleway;*/
  font-style: normal;
  font-weight: normal;
  line-height: 23px;
  font-size: 14px;
  text-align: center;

  color: #050505;
  background-color: black;
  width: 285px;
}
.slaider_selector{
  position: absolute;
  left: 45.07%;
  right: 45.07%;
  top: 60.27%;
  bottom: 38.53%;

  background-color: black;
  width: 37px;
  height: 8px;
}
.oval{
  position: absolute;
  left: 45.07%;
  right: 52.8%;
  top: 60.27%;
  bottom: 38.53%;

  background: #5A95FF;
  border-radius: 50px;
  width: 8px;
  height: 8px;
}
.fasebuch{
  position: absolute;
  left: 12.8%;
  right: 12.53%;
  top: 78.71%;
  bottom: 4.05%;

  background: #8f8f8f;
  width: 280px;
  height: 115px;
}
