<div class="container">
  <div class="row">
    <div class="Main col-md-6 offset-md-3">
      <div class="top">
        <div class="skip">skip</div>
        <div class="logo"></div>
        <div class="hello"></div>
      </div>
      <div class="slider_Text"></div>
      <div class="slaider_selector">
        <div class="oval"></div>
        <div class="oval"></div>
        <div class="oval"></div>
      </div>
      <div class="fasebuch"></div>
      <div class="twit"></div>
      <!--<app-todo></app-todo>-->
    </div>
  </div>
</div>
