.logo h2 {
  margin-top: 4.2%;

  font-weight: 900;
  color: #050505;
}

.switc {
  height: 65px;
}

.switch {
  position: relative;
  height: 50px;
  width: 286px;
  margin: 8px auto;
  background: rgb(245, 244, 244);
  border: 1px solid rgba(200, 205, 218, 0.306754);
  box-sizing: border-box;
  border-radius: 100px;
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 140px;
  line-height: 46px;
  font-size: 14px;
  color: black;
  text-align: center;
  cursor: pointer;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

.switch-input {
  display: none;
}

.switch-input:checked + .switch-label {
  transition: 0.4s ease-out;
  transition-property: color, text-shadow;
  color: white;
}

.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 142px;
}

.switch-selection {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  display: block;
  width: 142px;
  height: 48px;
  border-radius: 100px;
  background-color: #5A95FF;
  transition: left 0.4s ease-out
}

.Main {
  position: relative;
  height: 667px;
  background: #ffffff;
}


.calendar {
  width: 350px;
  overflow: hidden;
  display: block;
}

.CalendarBody {
  padding: 0 10px 10px 10px;
  box-sizing: border-box !important;
}

.MonthName {
  font-size: 15px;
  font-weight: 600;
  color: #000000;
  display: block;
  margin: 10px 0 10px 0;
  text-align: center;
  letter-spacing: 1px;
}

.calendar hr {
  margin-top: 42px;
}

.CalendarBody span {
  font-size: 14px;
  font-weight: 400;
  color: #212529;
  text-align: center;
  width: 43px;
  height: 32px;
  display: inline-block;
  float: left;
  overflow: hidden;
  line-height: 26px;
}

.CalendarBody .ZeroData:before {
  opacity: 0.3;
  content: 'o';
}

.circle {
  border: 1px solid #f7f3eb;
  box-sizing: border-box !important;
  border-radius: 200px !important;
}

span[data-title]:hover:after,
div[data-title]:hover:after {
  font: 11px 'Roboto';
  font-weight: 400;
  content: attr(data-title);
  position: absolute;
  margin: 0 0 100px;
  background: #282423;
  border: 1px solid #f7f3eb;
  color: #f7f3eb;
  padding: 5px;
  z-index: 9999;
  min-width: 150px;
  max-width: 150px;
}

.footerContainer {
  position: fixed;
  width: 100%;
  height: 75px;
  bottom: 0;
  left: 15px;
}

.addButton {
  margin: auto;
  z-index: 5;
  width: 58px;
  height: 58px;
  display: inline-block;
  font-size: 38px;
  padding: 0 0 0 1px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #ffffff;
  background: #5A95FF;
  border: 1px solid #4c74d1;
  border-radius: 50px;
  box-shadow: 0px 20px 30px rgba(74, 144, 226, 0.393541);
}

.addButton:hover {
  background: #435db0;
  box-shadow: 0px 10px 15px rgba(33, 58, 97, 0.69);
  color: #dddddd;
  border: 1px solid #3c4c92;
}

.addButton:active {
  background: #40539e;
  box-shadow: 0px 10px 12px rgba(15, 30, 49, 0.39);
  transform: translateY(4px);
}

.display {
  position: absolute;
  width: 100%;
  height: 48px;
  bottom: 0;
  left: 0;
  background-color: #e4eff6;
  z-index: -1;
}

.DisplOption, .DisplHistory, .DisplBell, .DisplUser {
  width: 70px;
  height: 45px;
  margin: 0 3px;
  font-size: 20px;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.DisplBell {
  margin-left: 85px;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.ModalTopic label, .ModalDescription label, .ModalDate label, .ModalNotify label, .ModalColor label {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 14px;

  color: #050505;
}

.ModalDescription input, .ModalDate input, .ModalNotify input, .ModalTopic input {
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #ced4da;
}

.ModalColor input {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  padding: 0px;
  border: none;
}

.modal-footer {
  padding: 0;
}

.ModalAdd input{
  text-transform: uppercase;
  width: 100%;
  border-radius: unset;
  height: 50px;
  background: #5A95FF;
}

.form-control:focus {
  box-shadow: none;
}

.btn-primary:focus {
  box-shadow: none;
}

input[type=color]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}

input[type=color]::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 50%;
  padding: 0;
}

.DeleteData label {
  padding-left: 20px;
}

.DeleteData label, .DeleteCheckout label {
  padding-left: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 14px;
  color: #050505;
}

.DeleteData i, .DeleteCheckout i {
  padding-top: 5px;
  font-size: 28px;
  position: absolute;
  top: -7px;
  left: 0px;
}

.DeleteCheckout i {
  top: -4px;
}

.ModalDelete button {
  width: 100%;
  border-radius: unset;
  height: 50px;
  background: #FF5C5C;
  padding-top: 9px;
}
.ModalInfo button{
  width: 100%;
  border-radius: unset;
  height: 50px;
  background: #ffea7e;
  padding-top: 9px;
}
.ModalDelete i {
  padding-right: 15px;
  font-size: 24px;
}

.btn-danger:focus {
  box-shadow: none;
}

.close:focus {
  border: none;
}

.MyClose {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  border: none;
  background-color: inherit;
}

.MyClose:focus {
  outline-color: white;
}

.IcoGreen {
  color: #5ab35a;
}

.IcoRed {
  color: #b34b4a;
}

.DeleteModalColor {
  width: 24px;
  height: 24px;
  border: none;
  background-color: inherit;
  margin-top: 7px;
}

.modal-header {
  border: none;
}

.Horizont {
  color: red;
  width: 66%;
  background-color: #979797;
  height: 1px;
  position: absolute;
  top: 36px;
  right: 8%;
}

.DeleteTitle, .AddTitle {
  margin-left: 10px;
  background-color: white;
  padding-right: 6px;
  z-index: 1;
}
.DeleteModalBody{
  padding: 0 30px;
}
.DayViewDate{
  padding-left: 16px;
}
.DayViewCalendar{
  font-size: 26px;
  padding: 5px 0 0 40px;
  color: #808080c7;
}
.DataArray{
  height: 445px;
  overflow-y: auto;
}
.ToDoTypeName{
  width: 84%;
  margin: 3px auto;
}
.ToDo{
  width: 84%;
  height: 48px;
  margin: 7px auto;
  border-radius: 3px;
  border: none;
  box-shadow: 0px 5px 20px #88888824;
  transition: height .35s linear;
}
.ToDoMainPanel{
  z-index: 0;
}
.ToDo:hover{
  height: 94px;
}
.ToDoList-group-item:hover{
  z-index: 0;
}
.ToDoList-group-item{
  position: relative;
  display: block;
  padding: 13px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #1d212417;
}
.ToDoCheck{
  z-index: 5;
  padding: 0 10px;
}
.ToDoTitle{
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  padding: 2px 5px;
}
.ToDoDateTime{
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
  position: absolute;
  right: 25px;
}
.ToDoDelete{
  width: 0px;
  opacity: 0;
  height: 48px;
  background-color: #b34b4a;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  position: absolute;
  right: 0;
  top: 0;
  transition: width .4s ease-in-out, opacity .5s;

}

.ToDoHelpPanel{
  z-index: -1;
  height: 46px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.ToDoHelpUpLine{
  position: absolute;
  left: 5%;
  width: 90%;
  margin: auto;
  height: 1px;
  border-bottom: 1px solid #9797978f;
}
.ToDoHelpViewDetails{
  cursor: pointer;
  padding: 13px 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
}
.ToDoHelpViewDetails:hover{
  text-decoration: underline;
}
.ToDoHelpDelete{
  height: 25px;
  position: absolute;
  top: 11px;
  right: 10%;
  padding: 0px 6px 0 16px;
  border-left: 1px solid#979797;
}
.ToDoHelpDeleteIcon{
  cursor: pointer;
  position: absolute;
  top: -4px;
  font-size: 21px;
  color: #FF5C5C;
}
.DeleteSpanIco{
  position: absolute;
  top: 11px;
  right: 50px;
  color: white;
}
.DeleteSpanName{
  position: absolute;
  top: 15px;
  right: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 11px;
  letter-spacing: 1px;
  color: white;
}
