<div class="container-fluid">
  <div class="row">
    <div class="Main col-sm-12">
      <div class="row">
        <div class="col-sm-12 logo align-self-baseline">
          <h2 class="text-center">TTD</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 switc">
          <div class="switch">
            <input type="radio" class="switch-input" name="view" value="Monthly" id="Monthly" checked
                   (click)="switchDaily(true)">
            <label for="Monthly" class="switch-label switch-label-off">Monthly</label>
            <input type="radio" class="switch-input" name="view" value="Daily" id="Daily" (click)="switchDaily(false)">
            <label for="Daily" class="switch-label switch-label-on">Daily</label>
            <span class="switch-selection"></span>
          </div>
        </div>
      </div>
      <div *ngIf="Monthly">
        <div class="Calendar row d-flex">

        </div>
        <div class="row d-flex">
          <div class="ToDoTypeName d-flex justify-content-start">
            <h3 class="DayViewDate"> This month </h3>
          </div>
          <div class="DataArray col-sm-12">
            <div class="MyList">
              <ul class="list-group ">
                <li class="ToDo ToDoList-group-item" *ngFor="let item of ToDoMonthly">
                  <div class="ToDoCheck">
                           <span class="hover-cursor" [class.text-success]="item.IsChecked"
                                 (click)="alterCheck(item.$key, item.IsChecked)">
                              <i class="fa fa-1g" [ngClass]="item.IsChecked?'fa-check-circle-o':'fa-circle-thin'"></i>
                           </span>
                  </div>
                  <div class="ToDoContainer">
                    <div class="ToDoMainPanel d-flex justify-content-start">
                      <div class="ToDoTitle" [ngClass]="item.IsChecked?'line-through':''">
                        {{item.Title}}
                      </div>
                      <div class="ToDoDateTime">
                        {{item.DateTime| date: 'dd MMM'}} • <span
                        class="ToLowerCase">{{item.DateTime| date: 'h a'}}</span>
                      </div>
                      <div class="ToDoHelpPanel">
                        <div class="ToDoHelpUpLine">
                        </div>
                        <div class="ToDoHelpViewDetails">
                          <span (click)="deleteModal(item, ViewModal)"> View Details</span>
                        </div>
                        <div class="ToDoHelpDelete">
                        <span class="ToDoHelpDeleteIcon hover-cursor" (click)="deleteModal(item, DeleteModal)">
                        <i class="fa fa-trash-o fa-1g"></i>
                        </span>
                        </div>
                      </div>
                    </div>

                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!Monthly">
        <div class="row d-flex">
          <div class="ToDoTypeName d-flex justify-content-start">
            <h3 class="DayViewDate"> {{date| date: 'dd MMMM yyyy' }}</h3>
            <i class="DayViewCalendar fa fa-1g fa-calendar"></i>
          </div>
          <div class="DataArray col-sm-12">
            <div class="MyList">
              <ul class="list-group ">
                <li class="ToDo ToDoList-group-item" *ngFor="let item of ToDoDaily">
                  <div class="ToDoContainer ">
                    <div class="ToDoMainPanel d-flex justify-content-start">
                      <div class="ToDoCheck">
                           <span class="hover-cursor" [class.text-success]="item.IsChecked"
                                 (click)="alterCheck(item.$key, item.IsChecked)">
                              <i class="fa fa-1g" [ngClass]="item.IsChecked?'fa-check-circle-o':'fa-circle-thin'"></i>
                           </span>
                      </div>
                      <div class="ToDoTitle" [ngClass]="item.IsChecked?'line-through':''">
                        {{item.Title}}
                      </div>
                      <div class="ToDoDateTime">
                        {{item.DateTime| date: 'dd MMM'}} • <span
                        class="ToLowerCase">{{item.DateTime| date: 'h a'}}</span>
                      </div>
                    </div>
                    <div class="ToDoHelpPanel d-flex">
                      <div class="ToDoHelpUpLine">
                      </div>
                      <div class="ToDoHelpViewDetails">
                        <span (click)="deleteModal(item, ViewModal)"> View Details</span>
                      </div>
                      <div class="ToDoHelpDelete">
                        <span class="ToDoHelpDeleteIcon hover-cursor" (click)="deleteModal(item, DeleteModal)">
                        <i class="fa fa-trash-o fa-1g"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row footerContainer">
        <div class="col-sm-12 ">
          <div class="addButton d-flex justify-content-center" (click)="addModal(AddModal)"><i
            class="align-self-center fa fa-plus"></i></div>
          <div class="display d-flex">
            <div class="DisplOption d-flex justify-content-center">
              <i class="align-self-center fa fa-list"></i>
            </div>
            <div class="DisplHistory d-flex justify-content-center">
              <i class="align-self-center fa fa-clock-o"></i>
            </div>
            <div class="DisplBell d-flex justify-content-center">
              <i class="align-self-center fa fa-bell"></i>
            </div>
            <div class="DisplUser d-flex justify-content-center">
              <i class="align-self-center fa fa-user"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #DeleteModal let-modal>
  <div class="modal-header d-flex justify-content-start">
    <input type="color" class="DeleteModalColor" placeholder="" [value]="Color" disabled>
    <h4 class="DeleteTitle modal-title" [ngClass]="Checked?'line-through':''">{{Title}}</h4>
    <div class="Horizont"></div>
  </div>
  <div class="DeleteModalBody modal-body">
    <div class="DeleteData form-group col-sm-12">
      <i class="fa fa-1g fa-calendar"></i>
      <label> {{DateTime| date: 'dd MMM'}} • <span class="ToLowerCase">{{DateTime| date: 'h a'}}</span>
      </label>
    </div>
    <div class="DeleteDescription form-group col-sm-12">
      <label>{{Description}}</label>
    </div>
    <div class="DeleteCheckout form-group col-sm-12">
      <i class="fa  fa-1g" [ngClass]="Checked?'fa-check-circle-o IcoGreen':'fa-close IcoRed'"></i>
      <label>{{Checked?'completed':'non completed'}}</label>
    </div>
  </div>
  <div class="ModalDelete modal-footer">
    <button type="button" class="btn btn-danger d-flex justify-content-center"
            (click)="onDelete(DeleteId)">
      <i class="fa fa-1g fa-trash"></i> <label>Delete</label>
    </button>
  </div>
</ng-template>

<ng-template #AddModal let-modal>
  <form (submit)="AddNewTask($event)">
    <div class="modal-header d-flex justify-content-start">
      <h4 class="AddTitle modal-title">Create New Tasks</h4>
      <div class="Horizont"></div>
    </div>
    <div class="modal-body">
      <div class="ModalTopic form-group col-sm-12">
        <label>Topic</label>
        <input type="text" class=" form-control" name="title" placeholder="Write Topic">
      </div>
      <div class="ModalDescription form-group col-sm-12">
        <label>Description</label>
        <input type="text" class=" form-control" name="description" placeholder="Write Description">
      </div>
      <div class="ModalDate form-group col-sm-12">
        <input type="date" class=" form-control" name="date" placeholder="">
      </div>
      <div class="ModalNotify form-group col-sm-12">
        <label>Notification</label>
        <input type="text" class="form-control" placeholder="10 mins before">
      </div>
      <div class="ModalColor form-group col-sm-12">
        <label>Choose color</label>
        <input type="color" class="form-control" value="#50DBE3" placeholder="">
      </div>
    </div>
    <div class="ModalAdd modal-footer">
      <input type="submit" class="btn btn-primary" value="Add">
    </div>
  </form>
</ng-template>

<ng-template #ViewModal let-modal>
  <div class="modal-header d-flex justify-content-start">
    <input type="color" class="DeleteModalColor" placeholder="" [value]="Color" disabled>
    <h4 class="DeleteTitle modal-title" [ngClass]="Checked?'line-through':''">{{Title}}</h4>
    <div class="Horizont"></div>
  </div>
  <div class="DeleteModalBody modal-body">
    <div class="DeleteData form-group col-sm-12">
      <i class="fa fa-1g fa-calendar"></i>
      <label> {{DateTime| date: 'dd MMM'}} • <span class="ToLowerCase">{{DateTime| date: 'h a'}}</span>
      </label>
    </div>
    <div class="DeleteDescription form-group col-sm-12">
      <label>{{Description}}</label>
    </div>
    <div class="DeleteCheckout form-group col-sm-12">
      <i class="fa  fa-1g" [ngClass]="Checked?'fa-check-circle-o IcoGreen':'fa-close IcoRed'"></i>
      <label>{{Checked?'completed':'non completed'}}</label>
    </div>
  </div>
  <div class="ModalInfo modal-footer">
    <button type="button" class="btn btn-info d-flex justify-content-center"
            (click)="modal.dismiss('Cross click')">
      <label>Close</label>
    </button>
  </div>
</ng-template>
