.main-body {
  position: relative;
  height: 667px;
  background: #ffffff;
  overflow: hidden;
}

.logo {
  width: 100%;
  position: absolute;
  top: 4.2%;
}

.switch-container {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 62px;
}

.footer-container {
  width: 100%;
  height: 77px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.line-through {
  text-decoration: line-through;
}

.lower-case {
  text-transform: lowercase;
}

.switch {
  position: relative;
  height: 50px;
  width: 286px;
  margin: 8px auto;
  background: rgb(245, 244, 244);
  border: 1px solid rgba(200, 205, 218, 0.306754);
  box-sizing: border-box;
  border-radius: 100px;
}

.switch-label {
  cursor: pointer;
  position: relative;
  float: left;
  width: 140px;

  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 500;
  line-height: 46px;
  font-size: 14px;

  color: black;
  text-align: center;
  z-index: 2;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

.switch-input {
  display: none;
}

.switch-input:checked + .switch-label {
  transition: 0.4s ease-out;
  transition-property: color, text-shadow;
  color: white;
}

.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 142px;
}

.switch-selection {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  width: 142px;
  height: 48px;
  border-radius: 100px;
  background-color: #5A95FF;
  transition: left 0.4s ease-out
}

.info-container {
  position: absolute;
  top: 21.57%;
  width: 100%;
  height: 476px;
  background: rgba(239, 245, 248, 0.467929);
}

.monthly-view, .daily-view {
  position: absolute;
  left: 12.53%;
  right: 24%;
  width: 100%;

  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 24px;

  color: #050505;
}
.monthly-view p, .daily-view p {
  width: 60%;
  margin-top: 20px;
}
.daily-view-img{
  position: absolute;
  top: 22px;
  right: 25%;
}
.task-generation{
  margin: 1px;
}
.tasks-list {
  position: absolute;
  top: 60px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.task-group-li{
  display: block;
}
.task-group {
  display: block;
  position: relative;
  margin: 6px auto;
  width: 70%;
  height: 48px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
  transition: height .35s linear ;
}

.margin-hover{
  background-color: #283B68;
  display: block;
  margin-top: -54px;
  width: 70%;
  height: 48px;
}
.task-check {
  position: absolute;
  left: 15%;
  width: 8%;
  height: 50px;
  margin-top: 5px;
  padding: 12px 3%;
  z-index: 3;
}

.task-title {
  position: absolute;
  width: 100%;
  height: 48px;
  top: 0;
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 700;
  border-radius: 3px;
  background-color: white;
  line-height: normal;
  font-size: 14px;
  color: #050505;
  z-index: 1;
  transition: height .4s linear ;
}

.task-title p {
  width: 45%;
  position: absolute;
  top: 0;
  margin-left: 14%;
  text-align: start;
}
.task-group:hover{
  height: 92px;
}
.task-title-hover{
  cursor: pointer;
  position: absolute;
  top: 18px;
  padding: 16px 0;
}
.task-group:hover .help-view {
  visibility: visible;
  opacity: 1
}

.help-view {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 46px;
  width: 100%;
  height: 46px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: white;
  transition: visibility 0s .15s, opacity 0.4s linear .2s;
}

.help-group {
  display: flex;
  border-top: 1px solid #979797;
  width: 90%;
  height: 46px;
  margin: auto;
}

.help-details {
  width: 60%;
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 14px;
  color: #050505;
}

.help-details p {
  margin-left: 0;
  text-align: start;
  top: 20px;
}

.help-delete {
  position: absolute;
  right: 8%;
  border-left: 1px solid #979797;
  height: 60%;
  margin-top: 11px;
  width: 10%;
  padding-left: 10px;
}

.help-delete img {
  position: absolute;
  top: calc(50% - 18px / 2 + -2px);
}

.task-date {
  position: absolute;
  width: 43%;
  height: 17px;
  top: 0;
  right: 0;

  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 14px;
  color: #050505;
  z-index: 2;
}

.task-date p {
  padding: 16px 15% 16px 0;
  text-align: end;
}

.footerContainer {
  position: fixed;
  width: 100%;
  height: 75px;
  bottom: 0;
  left: 15px;
  z-index: 2;
}

.add-button-container {
  z-index: 5;
  width: 100%;
}

.add-button {
  display: flex;
  width: 58px;
  height: 58px;
  cursor: pointer;
  border-radius: 50px;
  background: #5A95FF;
  box-shadow: 0 20px 30px rgba(74, 144, 226, 0.393541);
}

.footer-display {
  position: absolute;
  width: 100%;
  height: 48px;
  bottom: 0;
  left: 0;
  background-color: #e4eff6;
  z-index: 4;
}

.display-list, .display-clock, .display-bell, .display-user {
  width: 70px;
  height: 45px;
  font-size: 20px;
  mix-blend-mode: normal;
}

.display-list {
  position: absolute;
  bottom: 0;
  left: 3%;
}

.display-clock {
  position: absolute;
  bottom: 0;
  left: 22%;
}

.display-bell {
  margin-left: 85px;
  position: absolute;
  bottom: 0;
  right: 22%;
}

.display-user {
  position: absolute;
  bottom: 0;
  right: 3%;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.ModalTopic label, .ModalDescription label, .ModalDate label, .ModalNotify label, .ModalColor label {
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 14px;

  color: #050505;
}

.ModalDescription input, .ModalDate input, .ModalNotify input, .ModalTopic input {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ced4da;
}

.ModalColor input {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50px;
  border: 1px solid #a9a7a7;
}

.modal-footer {
  padding: 0;
}

.ModalAdd input {
  text-transform: uppercase;
  width: 100%;
  border-radius: unset;
  height: 50px;
  background: #5A95FF;
}

.form-control:focus {
  box-shadow: none;
}

.btn-primary:focus {
  box-shadow: none;
}

.btn-info:focus {
  box-shadow: none;
}

.btn-danger:focus {
  box-shadow: none;
}

input[type=color]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}

input[type=color]::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 50%;
  padding: 0;
}

.DeleteData label {
  padding-left: 20px;
}

.DeleteData label, .DeleteCheckout label {
  padding-left: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 14px;
  color: #050505;
}

.DeleteData i, .DeleteCheckout i {
  padding-top: 5px;
  font-size: 28px;
  position: absolute;
  top: -7px;
  left: 0;
}

.DeleteCheckout i {
  top: -4px;
}

.ModalDelete button {
  width: 100%;
  border-radius: unset;
  height: 50px;
  background: #FF5C5C;
  padding-top: 9px;
}

.ModalInfo button {
  width: 100%;
  border-radius: unset;
  height: 50px;
  background: #ffea7e;
  padding-top: 9px;
  color: black;
  font-weight: 600;
}

.ModalDelete i {
  padding-right: 15px;
  font-size: 24px;
}

.close:focus {
  border: none;
}

.MyClose {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  border: none;
  background-color: inherit;
}

.MyClose:focus {
  outline-color: white;
}

.IcoGreen {
  color: #5ab35a;
}

.IcoRed {
  color: #b34b4a;
}

.DeleteModalColor {
  width: 24px;
  height: 24px;
  border: none;
  background-color: inherit;
  margin-top: 7px;
}

.modal-header {
  border: none;
}

.Horizont {
  color: red;
  width: 66%;
  background-color: #979797;
  height: 1px;
  position: absolute;
  top: 36px;
  right: 8%;
}

.DeleteTitle, .AddTitle {
  margin-left: 10px;
  background-color: white;
  padding-right: 6px;
  z-index: 1;
}

.DeleteModalBody {
  padding: 0 30px;
}

.DayViewCalendar {
  font-size: 26px;
  padding: 5px 0 0 40px;
  position: absolute;
  right: 15%;
  color: #808080c7;
}

.DataArray {
  height: 445px;
  overflow-y: auto;
}

.modal-backdrop {
  opacity: 0.5;
  animation: ease-in-out .5s modal-b-fade;
  transition: all .5s ease-in-out;
}

.modal {
  top: -100px;
  animation: ease-in-out .5s modal-fade;
  transition: all .5s ease-in-out;
}

.modal.show {
  top: 0;
}

@keyframes modal-b-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes modal-fade {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
