.main-body {
  position: relative;
  height: -webkit-fill-available;
  background: #ffffff;
  overflow: hidden;
}

.logo {
  width: 100%;
  height: 62px;
  position: absolute;
  top: 0;
}
.logo img{
  margin-top: 28px;
}
.switch-container {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 62px;
}

.footer-container {
  width: 100%;
  height: 77px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.line-through {
  text-decoration-line: line-through;
}

.lower-case {
  text-transform: lowercase;
}

.switch {
  position: relative;
  height: 50px;
  width: 286px;
  background: rgb(245, 244, 244);
  border: 1px solid rgba(200, 205, 218, 0.306754);
  box-sizing: border-box;
  border-radius: 100px;
}

.switch-label {
  cursor: pointer;
  position: relative;
  float: left;
  width: 140px;

  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 500;
  line-height: 46px;
  font-size: 14px;

  color: black;
  text-align: center;
  z-index: 2;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

.switch-input {
  display: none;
}

.switch-input:checked + .switch-label {
  transition: 0.4s ease-out;
  transition-property: color, text-shadow;
  color: white;
}

.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 142px;
}

.switch-selection {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  width: 142px;
  height: 48px;
  border-radius: 100px;
  background-color: #5A95FF;
  transition: left 0.4s ease-out
}

.info-container {
  position: absolute;
  top: 16.8%;
  width: 100%;
  height: 476px;
  /*background: rgba(239, 245, 248, 0.467929);*/
}

.monthly-view, .daily-view {
  position: absolute;
  left: 12.53%;
  right: 24%;
  top: 25px;
  width: 100%;

  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 24px;

  color: #050505;
}

.monthly-view p, .daily-view p {
  width: 60%;
}

.daily-view-img {
  position: absolute;
  top: 0;
  right: 25%;
}

.task-generation {
  margin: 1px;
}

.tasks-list {
  position: absolute;
  top: 66px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.task-group-li {
  display: block;
}

.task-group {
  display: block;
  position: relative;
  margin: 6px auto;
  width: 70%;
  height: 48px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
  transition: height .3s linear .5s;
}

.margin-hover {
  background-color: #283B68;
  display: block;
  margin-top: -54px;
  width: 70%;
  height: 48px;
}

.task-check {
  position: absolute;
  left: 15%;
  width: 8%;
  height: 50px;
  margin-top: 5px;
  padding: 12px 3%;
  z-index: 3;
}

.task-title {
  position: absolute;
  width: 100%;
  height: 48px;
  top: 0;
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 700;
  border-radius: 3px;
  background-color: white;
  line-height: normal;
  font-size: 14px;
  color: #050505;
  z-index: 1;
}

.task-title p {
  width: 45%;
  position: absolute;
  top: 0;
  margin-left: 14%;
  text-align: start;
}

.task-group:hover {
  height: 92px;
}

.task-title-hover {
  cursor: pointer;
  position: absolute;
  top: 18px;
  padding: 16px 0;
}

.task-group:hover .help-view {
  visibility: visible;
  opacity: 1
}

.help-view {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 46px;
  width: 100%;
  height: 46px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: white;
  transition: visibility 0s .8s, opacity 0.2s linear;
}

.help-group {
  display: flex;
  border-top: 1px solid #979797;
  width: 90%;
  height: 46px;
  margin: auto;
}

.help-details {
  width: 60%;
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 14px;
  color: #050505;
}

.help-details p {
  margin-left: 0;
  text-align: start;
  top: 20px;
  cursor: pointer;
}

.help-delete {
  position: absolute;
  right: 8%;
  border-left: 1px solid #979797;
  height: 60%;
  margin-top: 11px;
  width: 10%;
  padding-left: 10px;
}

.help-delete img {
  cursor: pointer;
  position: absolute;
  top: calc(50% - 18px / 2 + -2px);
}

.task-date {
  position: absolute;
  width: 44%;
  height: 17px;
  top: 0;
  right: 0;

  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 14px;
  color: #050505;
  z-index: 2;
}

.task-date p {
  padding: 16px 15% 16px 0;
  text-align: end;
}

.footerContainer {
  position: fixed;
  width: 100%;
  height: 75px;
  bottom: 0;
  left: 15px;
  z-index: 2;
}

.add-button-container {
  width: 100%;
}

.add-button {
  z-index: 5;
  display: flex;
  width: 58px;
  height: 58px;
  cursor: pointer;
  border-radius: 50px;
  background: #5A95FF;
  box-shadow: 0 20px 30px rgba(74, 144, 226, 0.393541);
}

.footer-display {
  position: absolute;
  width: 100%;
  height: 48px;
  bottom: 0;
  left: 0;
  background-color: #e4eff6;
  z-index: 4;
}

.display-list, .display-clock, .display-bell, .display-user {
  width: 70px;
  height: 45px;
  font-size: 20px;
  mix-blend-mode: normal;
}

.display-list {
  position: absolute;
  bottom: 0;
  left: 3%;
}

.display-clock {
  position: absolute;
  bottom: 0;
  left: 22%;
}

.display-bell {
  margin-left: 85px;
  position: absolute;
  bottom: 0;
  right: 22%;
}

.display-user {
  position: absolute;
  bottom: 0;
  right: 3%;
}

.delete-m-header, .view-m-header {
  width: 100%;
  height: 50px;
  border: none;
}

.delete-m-color, .view-m-color {
  position: absolute;
  top: 15px;
  left: 6%;
  width: 15px;
  height: 15px;
  padding: 0;
  border-radius: 50px;
  border: 1px solid #a9a7a73b;
  background-color: inherit;
  margin-top: 7px;
}

.delete-m-title, .view-m-title {
  position: absolute;
  left: 13%;
  top: 18px;
  background-color: white;
  padding-right: 20px;
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 18px;
  color: #050505;
  z-index: 1;
}

.horizontal-line {
  width: 50%;
  background-color: #979797;
  height: 1px;
  position: absolute;
  top: 29px;
  left: 41%;
}

.delete-m-body, .view-m-body {
  padding: 3px 16px;
}

.delete-m-datetime, .view-m-datetime {
  width: 100%;
  height: 50px;
}

.delete-m-datetime img, .view-m-datetime img {
  position: absolute;
  top:14px;
  left: 8%;
}
.delete-m-datetime p, .view-m-datetime p{
  position: absolute;
  top: 16px;
  left: 23%;
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 14px;

  color: #050505;
}
.delete-m-description, .view-m-description{
  width: 100%;
  height: auto;
}
.delete-m-description p, .view-m-description p{
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 900;
  line-height: 20px;
  font-size: 14px;

  color: #050505;
}

.delete-m-check, .view-m-check{
  position: relative;
  width: 100%;
  height: 50px;
}
.delete-m-check img, .view-m-check img{
  position: absolute;
  top: 14px;
  left: 5%;
}
.delete-m-check p, .view-m-check p{
  position: absolute;
  top: 12px;
  left: 15%;
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;

  color: #050505;
}
.delete-m-footer, .view-m-footer{
  border: none;
}
.delete-m-button{
  width: 100%;
  height: 50px;
  background-color: #FF5C5C;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.view-m-button{
  width: 100%;
  height: 50px;
  background-color: #ffcf32;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.delete-m-button p, .view-m-button p{
  margin-top: 18px;
  margin-left: 14px;
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 11px;
  letter-spacing:1px;
  color: white;
}
.view-m-button p{
  margin-top: 14px;
  margin-left: 0;
  font-size: 12px;
  color: black;
}
.add-m-header{
  width: 100%;
  height: 70px;
  border: none;
}
.add-m-header .horizontal-line{
  left: 44%;
  top: 34px;
  height: 3px;
}
.add-m-title{
  position: absolute;
  left: 8%;
  top: 20px;
  background-color: white;
  padding-right: 15px;
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 24px;
  color: #050505;
  z-index: 1;
}
.add-m-body{
  padding: 1px 16px;
}
.add-m-topic, .add-m-description, .add-m-date, .add-m-notify, .add-m-color{
  width: 100%;
  height: 85px;
  position: relative;
}
.add-m-topic p, .add-m-description p, .add-m-notify p, .add-m-color p{
  width: 100%;
  height: 20px;

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 4%;

  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  font-size: 14px;

  color: #050505;
}
.add-m-topic input, .add-m-description input, .add-m-date input, .add-m-notify input{
  width: 91%;
  margin: auto;
  height: 40px;
  display: block;
  position: relative;
  top: 21px;
  padding: 2px 0%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #979797;
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 14px;
  color: #050505;
}
.add-m-color input{
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50px;
  border: 1px solid #a9a7a7;
  position: absolute;
  top: 31px;
  left: 6.5%;
}
.add-m-footer{
  border: none;
}
.add-m-button{
  width: 100%;
  height: 50px;
  background-color: #5A95FF;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.add-m-button p{
  margin-top: 18px;
  text-transform: uppercase;
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 11px;
  letter-spacing: 1px;
  color: white;
}
.modal-footer{
  padding: 0;
}
.form-control:focus{
  box-shadow: none;
}
input::placeholder{
  opacity: 0.5;
  font-weight: 100;
}
input[type=color]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}

input[type=color]::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 50%;
  padding: 0;
}


/*.modal-backdrop {*/
  /*opacity: 0.5;*/
  /*animation: ease-in-out .5s modal-b-fade;*/
  /*transition: all .5s ease-in-out;*/
/*}*/

/*.modal {*/
  /*top: -100px;*/
  /*animation: ease-in-out .5s modal-fade;*/
  /*transition: all .5s ease-in-out;*/
/*}*/

/*.modal.show {*/
  /*top: 0;*/
/*}*/

/*@keyframes modal-b-fade {*/
  /*from {*/
    /*opacity: 0;*/
  /*}*/
  /*to {*/
    /*opacity: 0.5;*/
  /*}*/
/*}*/

/*@keyframes modal-fade {*/
  /*from {*/
    /*top: -100px;*/
    /*opacity: 0;*/
  /*}*/
  /*to {*/
    /*top: 0;*/
    /*opacity: 1;*/
  /*}*/
/*}*/
