<div class="main-body">
  <div class="logo d-flex justify-content-center">
    <img src="../../assets/logo.svg" alt="logo" width="47" height="15">
  </div>
  <div class="switch-container d-flex justify-content-center">
    <div class="switch">
      <input type="radio" class="switch-input" name="view" value="Monthly" id="Monthly" checked
             (click)="switchDaily(true)">
      <label for="Monthly" class="switch-label switch-label-off">Monthly</label>
      <input type="radio" class="switch-input" name="view" value="Daily" id="Daily" (click)="switchDaily(false)">
      <label for="Daily" class="switch-label switch-label-on">Daily</label>
      <span class="switch-selection"></span>
    </div>
  </div>

  <div class="info-container">
    <div *ngIf="monthly">
      <div class="monthly-view d-flex  justify-content-start">
        <p> This month </p>
      </div>
      <div class="tasks-list">
        <ul class="list-group">
          <li class="task-group-li" *ngFor="let item of monthly_tasks">
            <div class="task-check">
              <div *ngIf="item.checked== '0'; else checked">
                <img src="../../assets/Bitmap-default.svg" alt="check" width="16" height="16"
                     (click)="toggleCheck(item.id, item.checked)">
              </div>
              <ng-template #checked>
                <img src="../../assets/Bitmap-check.svg" alt="check" width="16" height="16"
                     (click)="toggleCheck(item.id, item.checked)">
              </ng-template>
            </div>
            <div class="task-group">
              <div class="task-title">
                <div class="task-title-hover">
                  <p [ngClass]="item.checked?'line-through':''">{{item.title}}</p>
                </div>
                <div class="help-view">
                  <div class="help-group">
                    <div class="help-details">
                      <p (click)="modalOpen(item, 'view')"> View Details</p>
                    </div>
                    <div class="help-delete">
                      <img src="../../assets/del.svg" alt="delete" width="22" height="22"
                           (click)="modalOpen(item, 'delete')">
                    </div>
                  </div>
                </div>
              </div>
              <div class="task-date">
                <p>{{item.dateTime| date: 'dd MMM'}} • <span class="lower-case">{{item.dateTime| date: 'h a'}} </span>
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="!monthly">
      <div class="daily-view d-flex  justify-content-start">
        <p> {{dateNow| date: 'dd MMMM yyyy' }}</p>
        <img class="daily-view-img" src="../../assets/Calendar.svg" alt="Calendar" width="29" height="29">
      </div>
      <div class="tasks-list">
        <ul class="list-group">
          <li class="task-group-li" *ngFor="let item of daily_tasks">
            <div class="task-check">
              <div *ngIf="item.checked== '0'; else checked">
                <img src="../../assets/Bitmap-default.svg" alt="check" width="16" height="16"
                     (click)="toggleCheck(item.id, item.checked)">
              </div>
              <ng-template #checked>
                <img src="../../assets/Bitmap-check.svg" alt="check" width="16" height="16"
                     (click)="toggleCheck(item.id, item.checked)">
              </ng-template>
            </div>
            <div class="task-group">
              <div class="task-title">
                <div class="task-title-hover">
                  <p [ngClass]="item.checked?'line-through':''">{{item.title}}</p>
                </div>
                <div class="help-view">
                  <div class="help-group">
                    <div class="help-details">
                      <p (click)="modalOpen(item, 'view')"> View Details</p>
                    </div>
                    <div class="help-delete">
                      <img src="../../assets/del.svg" alt="delete" width="22" height="22"
                           (click)="modalOpen(item, 'delete')">
                    </div>
                  </div>
                </div>
              </div>
              <div class="task-date">
                <p>{{item.dateTime| date: 'dd MMM'}} • <span class="lower-case">{{item.dateTime| date: 'h a'}} </span>
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-container d-flex">
    <div class="add-button-container d-flex justify-content-center">
      <div class="add-button justify-content-center align-items-center" (click)="addModal.show()" mdbWavesEffect>
        <img src="../../assets/plus.svg" alt="plus" width="24" height="24"></div>
    </div>
    <div class="footer-display d-flex">
      <a class="display-list d-flex justify-content-center" mdbWavesEffect>
        <img src="../../assets/list.svg" alt="list">
      </a>
      <a class="display-clock d-flex justify-content-center" mdbWavesEffect>
        <img src="../../assets/clock.svg" alt="clock">
      </a>
      <a class="display-bell d-flex justify-content-center" mdbWavesEffect>
        <img src="../../assets/bell.svg" alt="bell">
      </a>
      <a class="display-user d-flex justify-content-center" mdbWavesEffect>
        <img src="../../assets/user.svg" alt="user">
      </a>
    </div>
  </div>
</div>

<div mdbModal #addModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="add-m-header modal-header d-flex justify-content-start">
        <p class="add-m-title"> Create New Tasts</p>
        <div class="horizontal-line"></div>
      </div>
      <div class="add-m-body modal-body">
        <form [formGroup]="addForm">
          <div class="add-m-topic">
            <p> Topic</p>
            <input type="text" class=" form-control" formControlName="form_title" placeholder="Write Topic">
          </div>
          <div class="add-m-description">
            <p> Description</p>
            <input type="text" class=" form-control" formControlName="form_description" placeholder="Write Description">
          </div>
          <div class="add-m-date">
              <input matInput formControlName="form_date" [matDatepicker]="dp" >
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp></mat-datepicker>
          </div>
          <div class="add-m-notify">
            <p> Notification</p>
            <input type="text" class="form-control" formControlName="form_notify" placeholder="10 mins before">
          </div>
          <div class="add-m-color">
            <p> Choose color</p>
            <input type="color" class="form-control" formControlName="form_color" placeholder="">
          </div>
        </form>
      </div>
      <div class="add-m-footer modal-footer">
        <div class="add-m-button d-flex justify-content-center align-items-center" (click)="addNewTask(addForm)" mdbWavesEffect>
          <p>Add</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div mdbModal #viewModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" *ngIf="data">
      <div class="view-m-header modal-header d-flex justify-content-start">
        <input type="color" class="view-m-color" placeholder="" [value]="data.color" disabled>
        <p class="view-m-title" [ngClass]="data.checked?'line-through':''">{{data.title}}</p>
        <div class="horizontal-line"></div>
      </div>
      <div class="view-m-body modal-body">
        <div class="view-m-datetime d-flex justify-content-start">
          <img src="../../assets/Calendar.svg" alt="Calendar" width="25" height="25">
          <p> {{data.dateTime| date: 'dd MMM'}} • <span class="lower-case">{{data.dateTime| date: 'h a'}}</span>
          </p>
        </div>
        <div class="view-m-description d-flex justify-content-start">
          <p>{{data.description}}</p>
        </div>
        <div class="view-m-check d-flex justify-content-start">
          <div *ngIf="data.checked === false; else NonChecked">
            <img src="../../assets/Bitmap-default.svg" alt="check" width="16" height="16">
            <p> non completed </p>
          </div>
          <ng-template #NonChecked>
            <img src="../../assets/Bitmap-check.svg" alt="check" width="16" height="16">
            <p> completed </p>
          </ng-template>
        </div>
      </div>
      <div class="view-m-footer modal-footer">
        <div class="view-m-button d-flex justify-content-center align-items-center" mdbWavesEffect
             (click)="viewModal.hide()">
          <p>Close</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div mdbModal #deleteModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" *ngIf="data">
      <div class="delete-m-header modal-header d-flex justify-content-start">
        <input type="color" class="delete-m-color" placeholder="" [value]="data.color" disabled>
        <p class="delete-m-title" [ngClass]="data.checked?'line-through':''">{{data.title}}</p>
        <div class="horizontal-line"></div>
      </div>
      <div class="delete-m-body modal-body">
        <div class="delete-m-datetime d-flex justify-content-start">
          <img src="../../assets/Calendar.svg" alt="Calendar" width="25" height="25">
          <p> {{data.dateTime| date: 'dd MMM'}} • <span class="lower-case">{{data.dateTime| date: 'h a'}}</span>
          </p>
        </div>
        <div class="delete-m-description d-flex justify-content-start">
          <p>{{data.description}}</p>
        </div>
        <div class="delete-m-check d-flex justify-content-start">
          <div *ngIf="data.checked === false; else NonChecked">
            <img src="../../assets/Bitmap-default.svg" alt="check" width="16" height="16">
            <p> non completed </p>
          </div>
          <ng-template #NonChecked>
            <img src="../../assets/Bitmap-check.svg" alt="check" width="16" height="16">
            <p> completed </p>
          </ng-template>
        </div>
      </div>
      <div class="delete-m-footer modal-footer">
        <div class="delete-m-button d-flex justify-content-center align-items-center"
             (click)="onDelete(data.id)" mdbWavesEffect>
          <img src="../../assets/del-w.svg" alt="delete" width="18" height="18">
          <p>Delete</p>
        </div>
      </div>
    </div>
  </div>
</div>
